.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
      font-weight: 300;
      margin-bottom: 10px;
  }

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;    

    .message {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .chatBox {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;

    .top {
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .close {
        cursor: pointer;
      }
    }
    .center {
      height: 350px;
      // overflow: scroll;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage {
          width: fit-content;
          max-width: 70%;
          padding: 10px;
          border-radius: 10px 10px 10px 0px;
          background-color: #fef3b7;
          text-align: left;
          align-self: flex-start;

          &.own {
            align-self: flex-end;
            background-color: rgb(236, 230, 230);
            border-radius: 10px 10px 0px 10px;
            text-align: right;
          }

          p {
            margin: 0;
          }

          span {
            font-size: 12px;
            background-color: #ffae0065;
            padding: 2px 6px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 4px;
          }
        }
    }

    .bottom {
      border-top: 2px solid #f7c14b85;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea{
        flex:3;
        height: 100%;
        border: none;
        padding: 20px;
      }

      button{
        flex:1;
        background-color: #f7c14b85;
        height: 100%;
        border: none;
        cursor: pointer;
      }
    }
  }
}