.listPage {
    display: flex;
    height: 100vh;

    .listContainer {
        flex: 3;

        .wrapper {
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 50px;
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 500px;
            overflow-y: scroll;
            padding-bottom: 70px;
        }

    }   

    .mapContainer {
        flex: 2;
        background-color: #fcf5f3;
        height: 670px;
        padding-bottom: 50px;
    }
}