node_modules
# Keep environment variables out of version control
.env
# Node.js
node_modules/
package-lock.json

# Prisma
.env
.prisma
prisma/migrations
api/generated/prisma/ # or wherever you configure the client to be generated

# Logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history